<div class="blue-strip">
  <div class="container">
      <div class="row row-grid">
        <div class="col-md-6">
          <p>T.A.P.P.S. has honored <span id="vets_helped_count"></span> Veterans</p>
        </div>
        <div class="col-md-6">
          <form name="PrePage" method="post" action="https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx">
            <input type="hidden" name="LinkId" value="e4819acd-b6eb-4f6d-97d6-ca9e2736b685"/>
            <input class="btn btn-lg btn-block donate-btn" type="submit" name="donate_btn" value="HELP US HONOR A VETERAN">
          </form>
        </div>

      </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.blue-strip -->