<div class="form-box">
	<div class="frm-heading">
    <h4 class="banr-p3"><img src="/assets/images/note.png" class="note" alt="note"> join our email list</h4>
  </div>
  <div class="form-body">
  	<form id="emailList" name="emailList">
  	  <input type="email" name="email" placeholder="Your Email Address" class="in-sty" required >
      <input type="text" name="name" placeholder="Your Name" class="in-sty" required >
      <input type="image" src="/assets/images/signup.png" class="sign-up" id="submitEmailList">
    </form>
  </div>
</div>