<footer>
	<div class="container">
    	<p>&copy; <span id="copyyear"></span> TAPPSNevada.org</p>
        <ul>
          
          <li><a href="https://www.facebook.com/{{ site.fb_username }}" target="_blank"><img src="/assets/images/fb24r.png" alt="T.A.P.P.S. Facebook" /></a></li>
          <li><a href="https://twitter.com/{{ site.twitter_username }}" target="_blank"><img src="/assets/images/tw24r.png" alt="T.A.P.P.S. Twitter" /></a></li>
          <li><a href="https://www.instagram.com/{{ site.instagram_username }}" target="_blank"><img src="/assets/images/in24r.png" alt="T.A.P.P.S. Instagram" /></a></li>
          <li><a href="https://www.zapier.com/" target="_blank"><img src="/assets/images/zapier-logomark.png" alt="Zapier" style="max-height:24px;" /></a></li>
        </ul>
    </div>
</footer>