<div class="sky-strip">
  	<div class="container">
    	<div class="seal-div">
       	<p>$6.00<span>/month</span></p>
      </div>
  	    <div class="row" style="margin: 0px;">
    	    <div class="col-sm-6">
            <div class="sky-text">
            	<h4>A $6.00 a month donation</h4>
              <p>allows us to honor 1 veteran each year.</p>
            </div>
    	    </div>
  	      <div class="col-sm-3">
            <form name="PrePage" method="post" action="https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx">
              <input type="hidden" name="LinkId" value="e4819acd-b6eb-4f6d-97d6-ca9e2736b685"/>
              <input class="btn btn-lg btn-block sky-donate-btn" type="submit" name="donate_btn" value="DONATE NOW">
            </form>
  	      </div>
  	    </div>
  	</div>
  </div>