<div class="row">
	<div class="col-md-4">
	  <a href="/contact/" class="btn btn-primary btn-lg btn-subnav {%- if page.nav_item == 'contact_us' %} disabled{% endif %}">Contact Us</a>
	</div>
	<div class="col-md-4">
	  <a href="/contact/requestService.html" class="btn btn-primary btn-lg btn-subnav {%- if page.nav_item == 'req_svc' %} disabled{% endif %}">Request Service</a>
	</div>
	<div class="col-md-4">
	  <a href="/contact/outsideLasVegas.html" class="btn btn-primary btn-lg btn-subnav {%- if page.nav_item == 'outside_lv' %} disabled{% endif %}">"Taps" outside Las Vegas</a>
	</div>
</div>