---
sheetrock_js: >
  <!-- Load Handlebars.js from CloudFlare's CDN. -->
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
  
  <script src="/assets/js/plugins/sheetrock/sheetrock.min.js"></script>
  
  <script lang="javascript">
  var mySpreadsheet = 'https://docs.google.com/spreadsheets/d/12UvjAbdh1OST2unXHNJfRauHnyhwy-FzZVk1cJSnUY0/edit#gid=0';
  
  var wallTemplate = Handlebars.compile($('#wall-template').html());
  
  $('#wall_list').sheetrock({
    url: mySpreadsheet,
    sql: "select A, C order by C desc",
    fetchSize: 8,
    labels: ['NAMES', 'ID'],
    rowHandler: wallTemplate
  });

  $('#vets_helped_count').sheetrock({
    url: mySpreadsheet,
    sql: "select count(A)",
    fetchSize: 0,
  });
  </script>
identity_bodyEnd: >
  <!-- Redirect to CMS if applicable -->
  
  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
identity_head: >
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
layout: default
---
<div class="content-container index">
  <div class="banner">
  	<div class="container">
      <div class="row no-gutters">
        <div class="col-md-7 banr-left">
          <h2 class="banr-p1">Trumpeters Alliance to Perform Patriotic Services</h2>
                <p class="banr-p2">T.A.P.P.S. is a group of professional trumpeters who aim to restore the long-held tradition of a live, quality performance of 'Taps' at military funerals at no cost to military families.</p>
        </div>
      
        <div class="col-md-5 banr-right">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/XEntzPLj2ek" allowfullscreen ></iframe>
          </div>
          <p class="sec1-p3">Watch this video and learn more about T.A.P.P.S. </p>
        </div>
      </div><!-- /row -->
    </div><!-- /container -->
  </div><!-- /banner -->
  
 {% include dark-blue-strip.html %}
  
  <div class="sec1">
  	<div class="container">
      	<div class="row row-grid">
          <div class="col-lg-7">
            <div class="sec1-left">
              <h4 class="sec1-p1">Welcome to <span>T.A.P.P.S.</span></h4>
              <p class="banr-p4">Serving those who have served our country</p>
                <img src="/assets/images/music.jpg" class="music" alt="music">
                <p class="sec1-p2">'Taps' is a 24 note bugle call that is an integral part of Military Honors which includes the folding and presentation of a United States Burial Flag and, depending upon the Veteran’s rank, may include a firing party.  Since its beginnings, ‘Taps’ was always performed by a live, military bugler or trumpeter.  However, military cuts and a decline in volunteerism has made a live performance of ‘Taps’ at every funeral an impossibility.  CD players and boomboxes were used to sound ‘Taps’ at first.  Later, a recording played from a speaker inside a ceremonial bugle became the norm.
                <br/><br/> 
                T.A.P.P.S. core mission is to honor Veterans with a live professional-quality performance of 'Taps'.
                We estimate that nearly 2,500 Veterans are laid to rest in Southern Nevada each year.  We need your help to make sure each one is honored in a manner truly representative of their service and sacrifice.  It must be live and it must be professional.  They gave us no less.</p>
            </div>
          </div>
          <div class="col-lg-5">
            <div class="sec1-right">
                <img src="/assets/images/folded_flag.jpg" class="img-responsive center-block" alt="Folded Flag">
            </div>
          </div>
        </div><!-- /.row -->
      </div><!-- /.container -->
  </div><!-- /.sec1 -->


  <div class="clearall"></div>
  {% include sky-strip.html %}
  <div class="clearall"></div>
  
  <div class="sec2">
  	<div class="container">
      	<div class="sec2-bx1">
          	<div class="top-part">
              </div>
              <div class="inner-cont">
              	<div class="cont-1">
                  <p class="f22">T.A.P.P.S. Events</p>
                </div>
                <div class="cont-1">
                	{% for post in site.categories['events'] limit:2 %}
                    {% if forloop.last == true %}
                      <div class="index_press_post last_post">
                        <a href="{{ post.url }}">
                          <p class="title">{{ post.event_date | date: "%b %d, %Y" }} - {{ post.title }}</p>
                          <div class="meta"><p>{{ post.content | truncate:100 | strip_html | remove: "##" }}</p></div>
                        </a>
                      </div>
                    {% else %}
                      <div class="index_press_post">
                        <a href="{{ post.url }}">
                          <p class="title">{{ post.event_date | date: "%b %d, %Y" }} - {{ post.title }}</p>
                          <div class="meta"><p>{{ post.content | truncate:100 | strip_html | remove: "##" }}</p></div>
                        </a>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
                
                <div class="cont-1">
                  <p class="f22">T.A.P.P.S. Press Releases</p>
                </div>
                <div class="cont-1">
                	{% for post in site.categories['press'] limit:1 %}
                	  {% if forloop.last == true %}
                        <div class="index_press_post last_post">
                          <a href="{{ post.url }}">
                            <p class="title">{{ post.title | truncate:70 }}</p>
                            <div class="meta"><p>{{ post.content | strip_html | truncate:100 }}</p></div>
                          </a>
                        </div>
                      {% else %}
                        <div class="index_press_post">
                          <a href="{{ post.url }}">
                            <p class="title">{{ post.title | truncate:70 }}</p>
                            <div class="meta"><p>{{ post.content | strip_html | truncate:100 }}</p></div>
                          </a>
                        </div>
                    {% endif %}
                  {% endfor %}
                </div>
  
                  <div class="cont-1 no-brd">
                      <h4><a style="color: #ffd200;" href="/press/">Read more...</a></h4>
                  </div>
  
              </div>
          </div>
          <div class="sec2-bx2">
          	<div class="top-part">
              	<h3>Memorial Wall</h3>
            </div>
            <script id="wall-template" type="text/x-handlebars-template">
              {% raw %}
                <p class="sec2-p1">{{cells.NAMES}}</p>
              {% endraw %}
            </script>
            <div id="wall_list" class="inner-cont">
              <p class="sec2-p1">LEONARD WILLIAM CARPI</p>
            </div>
            <div class="clearfix"></div>
          </div>
      </div>
  </div>
  
  <!--
  <div class="sec3">
  </div>
  -->
</div>
