---
sheetrock_js: >
  <!-- Load Handlebars.js from CloudFlare's CDN. -->
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
  
  <script src="/assets/js/plugins/sheetrock/sheetrock.min.js"></script>
  
  <script lang="javascript">
  var mySpreadsheet = 'https://docs.google.com/spreadsheets/d/12UvjAbdh1OST2unXHNJfRauHnyhwy-FzZVk1cJSnUY0/edit#gid=0';
  
  var wallTemplate = Handlebars.compile($('#wall-template').html());
  
  $('#wall_list').sheetrock({
    url: mySpreadsheet,
    sql: "select A, B order by B desc",
    fetchSize: 9,
    labels: ['NAMES', 'ID'],
    rowHandler: wallTemplate
  });
  </script>
identity_bodyEnd: >
  <!-- Redirect to CMS if applicable -->
  
  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
identity_head: >
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
layout: default
---

<div class="content-container index">
  <div class="banner">
  	<div class="container">
      	<div class="banr-left">
          	<h2 class="banr-p1">Trumpeters Alliance to Perform Patriotic Services</h2>
              <p class="banr-p2">The mission of TAPPS is to perform "Taps" at military funerals and other patriotic events throughout the Las Vegas valley.</p>
              <div class="btn-cls">
              	<a href="mission.html">
                  	<img src="/assets/images/learn-btn.png" class="learn-btn" alt="learn-btn">
                  </a>
                  <form class="donate-btn" name="PrePage" method="post" action="https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx"><input type="hidden" name="LinkId" value="e4819acd-b6eb-4f6d-97d6-ca9e2736b685"/>
                      <input type="image" src="/assets/images/donate-btn.png"/>
                  </form>
              </div>
          </div>
          <div class="banr-right">
          	<img src="/assets/images/man.png" class="man" alt="man">
            {% include email-list-form.html %}
          </div>
      </div>
  </div>
  
  <div class="blue-strip">
  	<div class="container">
      	<div class="strip-box1">
          	<img src="/assets/images/strip-img1.png" class="strip-img1" alt="strip-img1">
              <div class="strip-text">
              	<h4 class="bl-st-p1">Support T.A.P.P.S.</h4>
                  <p class="bl-st-p2">Your generous donation helps us continue our mission to perform at military funerals</p>
                  <p class="bl-st-p3"><a href="donate.html">Donate Now ></a></p>
              </div>
          </div>
          <div class="strip-box2">
          	<img src="/assets/images/strip-img2.png" class="strip-img1" alt="strip-img1">
              <div class="strip-text">
              	<h4 class="bl-st-p1">Request  T.A.P.P.S.</h4>
                  <p class="bl-st-p2">We would be honored to perform for your loved one or organization. Please complete our request form</p>
                  <p class="bl-st-p3"><a href="contact/requestService.html">Submit Request Now ></a></p>
              </div>
          </div>
          <div class="strip-box3">
              <div class="strip-left">
                  <h4>$6.00 <br><span>/ month</span></h4>
              </div>
  
              <div class="strip-text">
                  <img src="/assets/images/stars.png" class="stars" alt="stars">
                  <h4 class="bl-st-p1">Honor One Veteran Per Year </h4>
                  <p class="bl-st-p3"><a href="donate.html">Contribute Today ></a></p>
              </div>
          </div>
      </div>
  </div>
  
  <div class="sec1">
  	<div class="container">
      	<div class="sec1-left">
          	<h4 class="sec1-p1">Welcome to <span>T.A.P.P.S.</span></h4>
          	<p class="banr-p4">Serving those who have served our country</p>
              <img src="/assets/images/music.jpg" class="music" alt="music">
              <p class="sec1-p2">The primary purpose of this organization is to give back one last time to those who chose to serve our nation in the United States military by performing "Taps" live at military veteran funerals and services.  Our Founders, Trumpeters, TAPPS Board, and volunteers are committed to honoring our Veterans and their families with each performance of "Taps".</p>
          </div>
          <div class="sec1-right">
              <div class="video">
              	<iframe src="https://www.youtube.com/embed/XEntzPLj2ek" frameborder="0" allowfullscreen width="100%" height="100%" ></iframe>
              </div>
              <p class="sec1-p3">Watch this video and learn more about TAPPS </p>
          </div>
      </div>
  </div>
  <div class="clearall"></div>
  <div class="sky-strip">
  	<div class="container">
      	<div class="seal-div">
          	<p>$6.00<span>/month</span></p>
          </div>
          <div class="sky-text">
          	<h4>A $6.00 a month donation</h4>
              <p>allows us to honor 1 veteran each year.</p>
          </div>
          <form class="sky-donate-btn" name="PrePage" method="post" action="https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx"><input type="hidden" name="LinkId" value="e4819acd-b6eb-4f6d-97d6-ca9e2736b685"/><input type="image" src="/assets/images/sky-donate-btn.png"/></form>
      </div>
  </div>
  <div class="clearall"></div>
  <div class="sec2">
  	<div class="container">
      	<div class="sec2-bx1">
          	<div class="top-part">
              </div>
              <div class="inner-cont">
              	<div class="cont-1">
                  <p class="f22">TAPPS Events</p>
                </div>
                <div class="cont-1">
                	{% for post in site.categories['events'] limit:2 %}
                    {% if forloop.last == true %}
                      <div class="index_press_post last_post">
                        <a href="{{ post.url }}">
                          <p class="title">{{ post.event_date | date: "%b %d, %Y" }} - {{ post.title }}</p>
                          <div class="meta"><p>{{ post.content | truncate:100 | strip_html | remove: "##" }}</p></div>
                        </a>
                      </div>
                    {% else %}
                      <div class="index_press_post">
                        <a href="{{ post.url }}">
                          <p class="title">{{ post.event_date | date: "%b %d, %Y" }} - {{ post.title }}</p>
                          <div class="meta"><p>{{ post.content | truncate:100 | strip_html | remove: "##" }}</p></div>
                        </a>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
                
                <div class="cont-1">
                  <p class="f22">TAPPS Press Releases</p>
                </div>
                <div class="cont-1">
                	{% for post in site.categories['press'] limit:1 %}
                	  {% if forloop.last == true %}
                        <div class="index_press_post last_post">
                          <a href="{{ post.url }}">
                            <p class="title">{{ post.title | truncate:70 }}</p>
                            <div class="meta"><p>{{ post.content | strip_html | truncate:100 }}</p></div>
                          </a>
                        </div>
                      {% else %}
                        <div class="index_press_post">
                          <a href="{{ post.url }}">
                            <p class="title">{{ post.title | truncate:70 }}</p>
                            <div class="meta"><p>{{ post.content | strip_html | truncate:100 }}</p></div>
                          </a>
                        </div>
                    {% endif %}
                  {% endfor %}
                </div>
  
                  <div class="cont-1 no-brd">
                      <h4><a style="color: #ffd200;" href="/press/">Read more...</a></h4>
                  </div>
  
              </div>
          </div>
          <div class="sec2-bx2">
          	<div class="top-part">
              	<h3>Memorial Wall</h3>
            </div>
            <script id="wall-template" type="text/x-handlebars-template">
              {% raw %}
                <p class="sec2-p1">{{cells.NAMES}}</p>
              {% endraw %}
            </script>
            <div id="wall_list" class="inner-cont"></div>
            <div class="clearfix"></div>
          </div>
          <div class="sec2-bx3">
          	<div class="top-part">
              	<h3>Events Calendar</h3>
              </div>
              <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showTabs=0&amp;showCalendars=0&amp;mode=AGENDA&amp;height=491&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=tappsnevadacalendar%40gmail.com&amp;color=%2329527A&amp;ctz=America%2FLos_Angeles" style="border-width:0; margin-top:5px;" width="100%" height="491" frameborder="0" scrolling="no"></iframe>
          </div>
      </div>
  </div>
  
  <!--
  <div class="sec3">
  </div>
  -->
</div>
