---
layout: default
---

<div class="content-container press">
  <div class="inner-page-banr">
  	<div class="container">
     	<h2><span>TAPPS {% if page.category == "events" %}</span>Fundraiser{% else %} in the</span> Press{% endif %}</h2>
    </div>
  </div>
  <div class="inner-sections">
  	<div class="container">
    	<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
        <h1 itemprop="name headline">{{ page.title }}</h1>
        <p class="post-meta">
          <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
           Posted: {{ page.date | date: "%B %-d, %Y" }}
          </time>
        </p>
        <div class="post-content" itemprop="articleBody">
          {% if page.thumbnail %}
            <div class="post-img"><img src="{{ site.imgurl }}{{ page.thumbnail }}" class="img-responsive"></div>
          {% endif %}
          {{ content }}
        </div>
        
      </article>
      
      {% include recent-releases.html %}  
      {% include videos.html %}
        
    </div>
  </div>
</div>