---
layout: default
---

<div class="content-container press">
  <div class="inner-page-banr">
  	<div class="container">
     	<h2><span>T.A.P.P.S. {% if page.category == "events" %}</span>Fundraiser{% else %} in the</span> Press{% endif %}</h2>
    </div>
  </div>
  <div class="inner-sections">
  	<div class="container">
    	<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
        <h1 itemprop="name headline">{{ page.title }}</h1>
        <p class="post-meta">
          <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
           {{ page.date | date: "%B %-d, %Y" }}
          </time>
        </p>
        <div class="post-content" itemprop="articleBody">
          {% unless page.hidethumb %}
            {% if page.thumbnail %} 
              <div class="post-img"><img src="{{ page.thumbnail }}" class="img-responsive"><div class="img-caption">{{ page.thumb_caption }}</div></div>
              {% if page.thumb_caption %} 
                
              {% endif %}
            {% endif %}
          {% endunless %}
          {{ content }}
        </div>
        
      </article>
      
      {% include recent-releases.html %}  
      {% include videos.html %}
        
    </div>
  </div>
</div>