---
layout: default
---

<div class="content-container press">
  <div class="inner-page-banr">
  	<div class="container">
     	<h2><span>TAPPS in the </span>Press</h2>
    </div>
  </div>
  <div class="inner-sections">
  	<div class="container">
    	<h3 class="press_l_Heading">Press Releases</h3>
      <p class="pls-common-txt">Be the first to know the latest TAPPS news and events! And be sure to follow us on Facebook and Twitter!</p>
      <div class="bdr-heading"><span>FOR IMMEDIATE RELEASE</span></div>
      <h1>{{ page.title }}</h1>
      
      {{ content }}
      
      {% comment %}
      {% include recent-releases.html %}
      {% endcomment %}
      
      <div class="bdr-heading"><span>RECENT RELEASES</span></div>
        <div class="expand-box">
          <ul>
          {% for post in site.posts %}
            <li>
              <a href="{{ post.url }}">{{ post.title }}</a>
            </li>
          {% endfor %}
          </ul>
        </div>
      {% include videos.html %}
        
    </div>
  </div>
</div>