---
layout: default
---

<div class="content-container press">
  <div class="inner-page-banr">
  	<div class="container">
     	<h2><span>TAPPS in the </span>Press</h2>
    </div>
  </div>
  <div class="inner-sections">
  	<div class="container">
    	<h3 class="press_l_Heading">Press Releases</h3>
      <p class="pls-common-txt">Be the first to know the latest TAPPS news and events! And be sure to follow us on Facebook and Twitter!</p>
      <div class="bdr-heading"><span>FOR IMMEDIATE RELEASE</span></div>
      {{ content }}
      
      {% include recent-releases.html %}
        
      {% include videos.html %}
        
    </div>
  </div>
</div>